{% extends 'layout.html' %}

{% block main %}
<div class="top__heading">
<h1> Decentralized </h1>
   <h1> Perpetual Exchange </h1> 
</div>

<div class="text1">
<p>Trade BTC, ETH, AVAX and other top 
  <p> cryptocurrencies with up to 30x leverage </p> 
  <p>directly from your wallet</p>
</div>

<button class="button__launch" type="button"> Launch Exchange   </button>

<div class="card">
   <div class="card1"> 
      <img src="/static/media/ic_trading.2c53815a.svg" alt="Total Trading Volume Icon" class="Home-latest-info__icon">
      <div class="card__sub">
         <p> Total Trading Volume</p>
         <p> $0 </p>
      </div>
   </div>
   
   <div class="card1"> 
      <img src="/static/media/ic_stats.f0a18011.svg" alt="Open Interest Icon" class="Home-latest-info__icon">   
      
      <div class="card__sub" >
         <p> Open Interest</p>
         <p> $0 </p>
      </div>
   
   </div>
   
   <div class="card1"> 
      <img src="/static/media/ic_totaluser.ae09b310.svg" alt="Total Users Icon" class="Home-latest-info__icon">   
      <div class="card__sub">
         <p> Total Users</p>
         <p> $0 </p>
      </div>
   
   </div>

</div>

<div class="card__mega">

<div class="card__large">
   <div class="card__large--sub">
      <span class="card__large--sub--sub">
      <img src="/static/media/ic_liquidity.505b3f30.svg" alt="Reduce Liquidation Risks Icon" class="Home-benefit-icon-symbol">
      <h3>Reduce Liquidation Risks</h3>
   </span>
   
   <p>
      An aggregate of high-quality price feeds 
      determine when liquidations occur. 
      This keeps positions safe from temporary wicks.
   </p>

</div>

<div class="card__large--sub">
   <span class="card__large--sub--sub">
   <img src="/static/media/ic_cost.b4a729d3.svg" alt="Save on Costs Icon" class="Home-benefit-icon-symbol">
   <h3>Save on Costs</h3>

   </span>
<p>
   Enter and exit positions with minimal spread and zero price impact. 
   Get the optimal price without incurring additional costs.
</p>

</div>


<div class="card__large--sub">
   <span class="card__large--sub--sub">
   <img src="/static/media/ic_liquidity.505b3f30.svg" alt="Reduce Liquidation Risks Icon" class="Home-benefit-icon-symbol">
   <h3>Simple Swaps</h3>

</span>
<p>
   Open positions through a simple swap interface. 
   Conveniently swap from any supported 
   asset into the position of your choice.
</p>

</div>


</div>


<h1 class="">Two tokens create</h1> <h1> our ecosystem</h1>

<div class="card__large2">

<div class="card__token">
<div class="card__token--sub">
  <img src="/static/media/ziomi.png"  alt="ziomi-logo" class="ziomi__logo"> 
  <h3>$ZOMI</h3>
</div>
<p> $ZOMI is the utility and governance token. 
   Accrues 30% of the platform's generated fees.  </p>
<p>  Ethereum APR: 0.00% </p>
<div>
<button class="button__buy" type = 'button'> Buy </button>
<button class="button__buy" type = 'button'> Read More </button>
</div>
</div>

<div class="card__token">

<div class="card__token--sub">
  <img src="/static/media/zlp.png"  alt="zlp-logo" class="zlp__logo"> 
  <h3> $ZLP</h3>
</div>
<p> $ZLP is the liquidity provider token. Accrues 70% of the platform's generated fees.  </p>
<p>  Ethereum APR: 1,652,137,451.51%</p>
<div>
<button class="button__buy" type = 'button'> Buy </button>
<button class="button__buy" type = 'button'> Read More </button>
</div>
</div>

</div>

</div>




{% endblock %}


