{%  macro footer() %}

<footer>
<div class="footer__main"> 
    <img src="/static/media/logo.png" alt="logo" class='logo__romi'> 
    <p>Romi.Finance</p> 
</div>

<div class="footer__logo">
    <img src="/static/media/twitter.png" alt="twitter-logo" class="footer__logo--item">
    <img src="/static/media/M.png" alt="M-logo" class="footer__logo--item">
    <img src="/static/media/github.png" alt="github-logo" class="footer__logo--item">
    <img src="/static/media/telegram.png" alt="telegram-logo" class="footer__logo--item">
    <img src="/static/media/discord.png" alt="discord-logo" class="footer__logo--item">
</div>

<div class="footer__content" >
    <p>Terms and Conditions</p>
    <p>Referral Terms</p>
    <p>Media Kit</p>
</div>
</footer>
{% endmacro %}
